doctype.html
html
  head
    title= title
    link(rel="stylesheet", href="bootstrap.min.css")
    link(rel="stylesheet", href="global.css")
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.container
        p.navbar-text= title
    div.container
      block content
